@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* HERE STARTS THE MAGIC */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 0%;
    overflow: hidden;
    top: 0;
    left: 0;
}
