{% extends "/admin/layout.html" %}

{% block content%}
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="container">

            <h4 style="margin-top:100px;text-align:center">Descripci&oacute;n de servicios</h4>

            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="margin-top:10px">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Proveedor</th>
                        <th>Desde obra civil</th>
                        <th>Computo</th>
                        <th>Impresion</th>
                        <th>Redes</th>
                        <th>DRP</th>
                        <th>Telefonia</th>
                        <th>Seguridad</th>
                        <th>NOC</th>
                        <th>SOC</th>
                        <th>HD</th>
                        <th>SP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Be one</b></td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Mexis</b></td>
                        <td>3</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Proyecto Dia</b></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>4</td>
                        <td>-</td>
                        <td>3</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>DRP M&eacute;xico</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Theos</b></td>
                        <td>-</td>
                        <td>3</td>
                        <td>3</td>
                        <td>-</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>4</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Tecpluss</b></td>
                        <td>-</td>
                        <td>2</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Services 4IT</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Saynet</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>IBM</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Optimiti</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>3</td>
                        <td>-</td>
                        <td>2</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Alestra</b></td>
                        <td>4</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>


         <!--   <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="margin-top:10px">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Proveedor</th>
                        <th>NDA</th>
                        <th>Contrato Legal</th>
                        <th>Visita Instalaciones</th>
                        <th>Ejecutivo de Cta</th>
                        <th>CV</th>
                        <th>Portafolio</th>
                        <th>Matriz SLA's</th>
                        <th>Casos de exito</th>
                        <th>Certificaciones</th>
                        <th>Lista de precios</th>
                        <th>Contenidos</th>
                        <th>Programa de capacitaci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Be one</b></td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Mexis</b></td>
                        <td>*</td>
                        <td>P</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Tecpluss</b></td>
                        <td>-</td>
                        <td>P</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>*</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Services 4IT</b></td>
                        <td>-</td>
                        <td>*</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Theos</b></td>
                        <td>-</td>
                        <td>3</td>
                        <td>3</td>
                        <td>-</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>4</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Tecpluss</b></td>
                        <td>-</td>
                        <td>2</td>
                        <td>2</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Services 4IT</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Saynet</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>IBM</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Optimiti</b></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>1</td>
                        <td>-</td>
                        <td>3</td>
                        <td>-</td>
                        <td>2</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><b>Alestra</b></td>
                        <td>4</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>-->
            <p style="margin-bottom:20px"></p>
            </div>
        </div>
    </main>
</div>

{% endblock%}
