{% extends "/admin/layout.html" %}

{% block content %}
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="container">
            <div class="row" style="margin-bottom:350px;margin-top:70px">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-default">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                Monitoreo
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-success">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                Mesa de servicio
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-radius offer-primary">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                Nube hibirida
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-info">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                PRINTaaS
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-warning">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                BaaS
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="offer offer-radius offer-danger">
                        <div class="shape">
                            <div class="shape-text">
                                top
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                DRaaS
                            </h3>
                            <p>
                                <a href="">Verificar soluciones activas.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            </div>
        </div>
        <!--Aqui comienza footer-->
     
</main>



{% endblock %}

    {% block scripts %}
<script src="/static/scripts/respond.js"></script>
{% endblock %}
<!--<script src="/static/scripts/bootstrap.js"></script>

<script src="/static/scripts/dashboard.js"></script>
<script src="/static/scripts/jquery-1.10.2.js"></script>-->
<!---->
