{% extends "/admin/layout.html" %}

{% block content %}
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="container">



        </div>
        <!--Aqui comienza footer-->
       
</main>
   </div>


{% endblock %}

    {% block scripts %}
<script src="/static/scripts/respond.js"></script>
{% endblock %}
<!--<script src="/static/scripts/bootstrap.js"></script>

<script src="/static/scripts/dashboard.js"></script>
<script src="/static/scripts/jquery-1.10.2.js"></script>-->
<!---->
