<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Material Design Lite -->
    <link rel="shortcut icon" type="image/png" href="https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.0-1/p50x50/12734268_1063128193753865_1013925773745150687_n.png?oh=f38f57707ea2d7346a7f951b96bbac65&oe=5AD08BC7" />
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css" />
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="/static/content/compusoluciones.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation ">
                    <a class="mdl-navigation__link" href="{{url_for('dropsession')}}">Logout</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('principal')}}">Home</a>
                <a class="mdl-navigation__link" href="{{ url_for('servicios')}}">Catalogo de servicios</a>
                <a class="mdl-navigation__link" href="{{url_for('soluciones')}}">Soluciones activas</a>
                <a class="mdl-navigation__link" href="{{url_for('trabajo')}}">Configurador de soluciones</a>
                <a class="mdl-navigation__link" href="{{url_for('contratos')}}">Contratos vigentes</a>
                <a class="mdl-navigation__link" href="{{ url_for('seguimiento')}}">Seguimiento de solicitudes</a>
                <a class="mdl-navigation__link" href="{{ url_for('encuestas')}}">Herramientas</a>
                <a class="mdl-navigation__link" href="{{ url_for('configuracion')}}">Configuracion</a>
                <a class="mdl-navigation__link" href="{{url_for('ayuda')}}">Ayuda</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                <div class="alert alert-success container" role="alert" style="padding-top:30px;color:#000000;">
                    <strong> Docker</strong>
                    <br />
                    Con la tecnología de virtualización, la máquina virtual es quien contempla todo un sistema operativo, herramientas,  
                    y aplicación. Un servidor físico que ejecuta tres máquinas virtuales tendría un hipervisor y tres sistemas operativos 
                    separados que se ejecutan al mismo tiempo.<br />
                    Por el contrario, un servidor que ejecuta tres aplicaciones en contenedor con Docker ejecuta un único sistema operativo,
                    y cada contenedor comparte el kernel del sistema operativo con los otros contenedores.<br />
                    Las partes compartidas del sistema operativo son de solo lectura, mientras que cada contenedor tiene su propio montaje 
                    (es decir, una forma de acceder al contenedor) para la escritura. Eso significa que los contenedores son mucho más livianos y
                    usan muchos menos recursos que las máquinas virtuales.<br />
                    <b>Ventajas de utilizar container vs virtualizacion.</b><br />
                    &bull; Despliegue fácil y rápido.<br />
                    &bull; Portabilidad.<br />
                    &bull; Ligereza.<br />
                    &bull; Autosuficiencia.<br />
                    &bull; Control de versiones de imágenes.<br />
                    &bull; Ahorro de recursos.<br />
                    &bull; Ahorro de consumo energético.<br />
                    &bull; Mayor control.<br />
                </div>
                <div class="container" style="margin-bottom:150px;">
                    <hr />
                    <form action="/containersE" method="post">
                        <div class="form-group">
                            <label for="servicio">Usuario Final</label>
                            <input class="form-control" name="uf" placeholder="Usuario Final" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="servicio">Presupuesto</label>
                            <input class="form-control" name="presupuesto" placeholder="Presupuesto estimado para el servicio" type="number" />
                        </div>
                        <div class="form-group">
                            <label for="servicio">Autoridad</label>
                            <input class="form-control" name="autoridad" placeholder="Autoridad para toma de desicion" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="servicio">Necesidad</label>
                            <input class="form-control" name="necesidad" placeholder="Requerimiento" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="servicio">Tipo de requerimiento</label>
                            <select class="form-control" name="tipoR">
                                <option value="consultoria">Consultoria</option>
                                <option value="licencia">Licenciamiento</option>
                                <option value="implementacion">Implementacion</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="servicio">Fecha de cierre estimada</label>
                            <input class="form-control" name="tiempo" type="date" value="{{tiempo}}" />
                        </div>
                        <div class="form-group" style="text-align:right">
                            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                        </div>

                    </form>
                </div>
                <!--Aqui va el contenido-->
                <!--Aqui acaba-->
                

                <!--Aqui va footer-->
                <footer class="mdl-mini-footer" style="background-color:#89898C;color:#fff">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"><a href="https://www.compusoluciones.com/"><img src="/static/imagenes/logo2.svg" style="width:150px;height:40px;"></a></div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li><a href="#">Derechos reservados CompuSoluciones {{year}}</a></li>
                            </ul>
                        </div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/CompuSolucionesyAsociados" style="color:#fff">
                                        <i class="fa fa-facebook circle facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/CompuSoluciones" style="color:#fff">
                                        <i class="fa fa-twitter circle twitter  " aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/company-beta/141999/" style="color:#fff">
                                        <i class="fa fa-linkedin circle linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.youtube.com/user/CanalCompuSoluciones" style="color:#fff">
                                        <i class="fa fa-youtube-play circle youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li><a href="https://www.compusoluciones.com/aviso-de-privacidad/">Aviso de privacidad</a></li>
                                <li><a href="{{url_for('altaP')}}">Quiero ser proveedor SOM</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>

            </div>
        </main>
    </div>



    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/draas.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
    <!--<script src="/static/scripts/bootstrap.js"></script>

    <script src="/static/scripts/dashboard.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>-->
    <!---->

</body>
</html>





