<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
     <link rel="stylesheet" type="text/css" href="/static/content/dashboard.css" />
     <script src="/static/scripts/modernizr-2.6.2.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <!-- Material Design Lite -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.0-1/p50x50/12734268_1063128193753865_1013925773745150687_n.png?oh=f38f57707ea2d7346a7f951b96bbac65&oe=5AD08BC7" />
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css" />
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="/static/content/encuestas.css" />
    <link rel="stylesheet" href="/static/content/compusoluciones.css" />
    <link rel="stylesheet" href="/static/content/nivel.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation ">
                    <a class="mdl-navigation__link" href="{{url_for('dropsession')}}">Logout</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('principal')}}">Home</a>
                <a class="mdl-navigation__link" href="{{ url_for('servicios')}}">Catalogo de servicios</a>
                <a class="mdl-navigation__link" href="{{url_for('soluciones')}}">Soluciones activas</a>
                <a class="mdl-navigation__link" href="{{url_for('trabajo')}}">Configurador de soluciones</a>
                <a class="mdl-navigation__link" href="{{url_for('contratos')}}">Contratos vigentes</a>
                <a class="mdl-navigation__link" href="{{ url_for('seguimiento')}}">Seguimiento de solicitudes</a>
                <a class="mdl-navigation__link" href="{{ url_for('encuestas')}}">Herramientas</a>
                <a class="mdl-navigation__link" href="{{ url_for('configuracion')}}">Configuracion</a>
                <a class="mdl-navigation__link" href="{{url_for('ayuda')}}">Ayuda</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                <div class="alert alert-success container" role="alert" style="padding-top:30px">
                    <strong> Mesa de servicio:</strong>

                </div>
                <form action="" method="post">
                    <div class="container">
                            <div class="form-group">
                                <label for="servicio">Usuario Final</label>
                                <input class="form-control" name="uf" placeholder="Usuario Final" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="servicio">Presupuesto</label>
                                <input class="form-control" name="presupuesto" placeholder="Presupuesto estimado para el servicio" type="number" />
                            </div>
                            <div class="form-group">
                                <label for="servicio">Autoridad</label>
                                <input class="form-control" name="autoridad" placeholder="Autoridad para toma de desicion" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="servicio">Necesidad</label>
                                <input class="form-control" name="necesidad" placeholder="Requerimiento" type="text" />
                            </div>
                            <div class="form-group">
                                <label for="servicio">Fecha de cierre estimada</label>
                                <input class="form-control" name="tiempo" type="date" value="{{tiempo}}" />
                            </div>
                           
                            <div class="form-group">
                                <label for="servicio">Numero de usuarios</label>
                                <select class="form-control" name="usuarios">
                                    <option value="1-50">1 - 50 usuarios</option>
                                    <option value="51-100">51 - 100 usuarios</option>
                                    <option value="101-150">101 - 150 usuarios</option>
                                    <option value="151-200">151 - 200 usuarios</option>
                                    <option value="mas de 200">m&aacute;s de 200 usuarios</option>
                                </select>
                            </div>
                        
                            <div class="form-group">
                                <label for="servicio">Tipo de atenci&oacute;n</label>
                                <select class="form-control" name="atencion">
                                    <option value="atencion telefonica">Atenci&oacute;n via telef&oacute;nica</option>
                                    <option value="atencion via email">Atenci&oacute;n via email</option>
                                    <option value="atencion via web">Atenci&oacute;n via web</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="servicio">Nivel de servicio</label>
                                <select class="form-control" name="niveles" id="niveles" onchange="selecciona()" >
                                    <option value="default">Seleccione el nivel de servicio</option>
                                    <option value="nivel1">Nivel 1</option>
                                    <option value="nivel2">Nivel 2</option>
                                    <option value="nivel3">Nivel 3</option>
                                </select>
                            </div>

                        <div class="checkbox">
                            <label class="pull-right">
                                <input type="checkbox" value="si">
                                <b>Reporte Mensual</b>
                            </label>
                        </div>
                        <div class="row" id="n1" style="display:none">
                            <div class="col-sm-6 col-md-12">
                                <div class="alert-message alert-message-info">
                                    &bull; Solución de dudas específicas en cuanto a los módulos del sistema en operación.<br />
                                    &bull; Identificación, atención y solución de errores funcionales o de aplicación.<br />
                                    &bull; Alta de casos en el área de desarrollo, con el proveedor de la aplicación para la solución de errores (bugs) de la aplicación.<br />
                                    &bull; Atención de casos para la aplicación de parches (fixes y bundles) específicos.<br />
                                    &bull; Asistencia en pruebas de los parches específicos.<br />
                                    &bull; Recomendación de “workarounds” (soluciones alternas) para problemas de la aplicación.<br />
                                    &bull; Administración de usuarios (alta, baja y modificación, reseteo de contraseñas).<br />
                                    &bull; Administración del esquema de seguridad (roles y perfiles).<br />
                                    &bull; Cambio a la parametrización o configuración existente, enfocado a obtener mejoras en la operación, que no implique un cambio estructural total, afectación a la información histórica o corriente, modificación de fondo al modelo de negocio o reingeniería de procesos.<br />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="n2" style="display:none">
                            <div class="col-sm-6 col-md-12">
                                <div class="alert-message alert-message-warning">
                                    &bull; Elaboración de queries<br />
                                    &bull; Solución de problemas generados durante o después de la aplicación de parches<br />
                                    &bull; Solución de errores de la aplicación (bugs) cuando sea posible<br />
                                    &bull; Apoyo para realizar cambios en la aplicación a nivel de tablas, actualizaciones (updates) y borrados después de un análisis funcional y sólo en caso de no existir otra solución.<br />
                                    </div>
                                </div>
                            </div>
                        <div class="row" id="n3" style="display:none">
                            <div class="col-sm-6 col-md-12">
                                <div class="alert-message alert-message-danger">
                                    &bull; Atención a fallas a nivel de acceso a las aplicaciones.<br />
                                    &bull; Atención a fallas a nivel de capas de la aplicación.<br />
                                    &bull; Atención a solicitudes de tipo tecnológico.<br />
                                    &bull; Atención a fallas de infraestructura instalación de ambientes nuevos (todas las aplicaciones).<br />
                                    &bull; Instalación de bases de datos.<br />
                                    &bull; Homologaciones de ambientes (todas las aplicaciones).<br />
                                    &bull; Recreación de base de datos.<br />
                                    &bull; Incremento de servicios (equipos) en data center.<br />
                                    &bull; Implementación de VPN’s (Redes Privadas Virtuales).<br />
                                    </div>
                              </div>
                         </div>


                                <br />
                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-success">Solicitar</button>
                                </div>

                            </div>
</form>
                        <!--Aqui va el contenido-->
                        <!--Aqui acaba-->

                        <div style="padding-bottom:200px;">
                            <br />
                            <br />
                        </div>

                        <!--Aqui va footer-->
                <footer class="mdl-mini-footer" style="background-color:#89898C;color:#fff">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"><a href="https://www.compusoluciones.com/"><img src="/static/imagenes/logo2.svg" style="width:150px;height:40px;"></a></div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li><a href="#">Derechos reservados CompuSoluciones {{year}}</a></li>
                            </ul>
                        </div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/CompuSolucionesyAsociados" style="color:#fff">
                                        <i class="fa fa-facebook circle facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/CompuSoluciones" style="color:#fff">
                                        <i class="fa fa-twitter circle twitter  " aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/company-beta/141999/" style="color:#fff">
                                        <i class="fa fa-linkedin circle linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.youtube.com/user/CanalCompuSoluciones" style="color:#fff">
                                        <i class="fa fa-youtube-play circle youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-mini-footer__left-section">
                            <ul class="mdl-mini-footer__link-list">
                                <li><a href="https://www.compusoluciones.com/aviso-de-privacidad/">Aviso de privacidad</a></li>
                                <li><a href="{{url_for('altaP')}}">Quiero ser proveedor SOM</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>

                    </div>
</main>
    </div>



    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/mesaA.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
    <!--<script src="/static/scripts/bootstrap.js"></script>

    <script src="/static/scripts/dashboard.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>-->
    <!---->

</body>
</html>





